<!DOCTYPE html>
<html>
<head>
    <title>IMC Result</title>
</head>
<body>
    <h1>IMC Result</h1>
    <p>Seu IMC é: {{imc}}</p>
    <p>Categoria: {{categoria}}</p>
    <p>Peso: {{Peso}} kg</p>
    <p>Altura: {{Altura}} m</p>
    <a href="/imc">Calculate another</a>
</body>
</html>
